/*  GLOBALS */
/* ------------------------------------------- */
/* ------------------------------------------- */
html,body {margin: 0;}

* {
    box-sizing: border-box;
    background: #FDFDFD;
    font-family: Arial, sans-serif;
    /* border: 1px #000 solid; */
}

.wrapper {
  display: block;
  margin: 0 auto;
  width: 100%
  /* max-width: 600px; */
  min-height: 100%;
}

.clearfix {
  clear:both;
}


/* HEADER */
/* ------------------------------------------- */
/* ------------------------------------------- */

header{
  display: block;
  float: left;
  width: 100%;
  /* background:#FDFDFD; */
}

.logo {
    float: left;
    padding: 25px 0 0 0;
}

.links {
    float: right;
    margin: 0;
    padding: 0 0 0 40px;
    list-style: none;
    font-size: 12px;
    background: #fff;
    border: 1px black solid;
}

.links a:hover{
    background: #fff;
    color: #000;
}

#facebook {
    font-size: 20px;
}

#links {
    float: right;
}


/* NAV */
/* ------------------------------------------- */
/* ------------------------------------------- */

nav {
  display: block;
  float: left;
  width: 100%;
  font-size: 14px;
}

.nav {
  display: block;
  float: left;
  margin: 0;
  padding: 0 50px 0 0;
  list-style: none;
  width: 200px;
  /* height: 100%; */
  position: relative;
  overflow: auto;
  background: #8EDAF0;

}

li a {
    display: block;
    width: 200px;
    color: #000;
    padding: 10px;
    text-decoration: none;
    text-align: left;
}

li a:hover {
    background-color: #8EDAF0;
    color: #FFF;

}

/* .active {
    background-color: #8EDAF0;
} */

.dropbtn {
    background: #8EDAF0;
    color: #000;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #8EDAF0;
    min-width: 160px;
    box-shadow: 0 8px 16px 0;
    z-index: 1;
}

.dropdown-content a{
    background: #8EDAF0;
    color: #000;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* EVENTS */
/* ------------------------------------------- */
/* ------------------------------------------- */

.events {
    display: inline;
    margin: 0 0 60px 200px;
    /* padding: 0 0 0 200px; */
    padding: 0;
    width: 60%;

    /* position: static; */
}



/* FOOTER */
/* ------------------------------------------- */
/* ------------------------------------------- */

footer{
  display:block;
  float: left;
  width: 100%;
  margin: 50px 0 0 0;
  font-size: 10px;
}

#container {
    min-height: 100%;
    position: relative;
}

#footerwrap {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
}

.hours {
    float: left;
    border: 1px #000 solid;
}

.address {
    float: right;
    border: 1px #000 solid;
}
