
/* ===========================================
    OLD BOOTSTRAP OVERRIDES
   ==========================================*/

.container-footer {
	background-color: #eee;
	padding: 20px 0;
}

.container-fluid-macsc {
	padding-left: 0;
	padding-right: 0;
}



/*  GLOBALS
/* ------------------------------------------- */
/* ------------------------------------------- */

html,body {margin: 0;}

* {
    box-sizing: border-box;
    font-family: Montserrat, Arial, sans-serif;
    /* border: 1px #000 solid; */
}

hr {
	color: #a08d7c;
}

/*.wrapper {
  display: block;
  margin: 0 auto;
  width: 100%*/
  /* max-width: 600px; */
  /* min-height: 100%; */
/*}*/

.clearfix {
  clear:both;
}


/* HEADER */
/* ------------------------------------------- */
/* ------------------------------------------- */

header{
	width: 100%;
	height: 86px;
	padding-top: 2px;
	margin: 0 0 36px 0;
  background: linear-gradient(to right, #e35e01, #f4aa00 40%, #f4aa00 60%, #8FBB26);
}


/*HEADER-LEFT SECTION STYLE */
/********************************************************  */
.company-header{
		width: 100%;
		height: 86px;
		margin: 0 0 36px 0;
		padding-top: 20px;
}

.company-name{
    text-align: left;
		font-weight: bold;
		color: #fff;
}

.header-list-contact{
	 	text-align: left;
		font-size: 12px;
}

.header-list-address{
    list-style-type: none;
    margin: 0;
    padding: 0;
		display: block;
}

a.header-address{
		color: #333;
}

a.header-address:hover{
		color: #fff;
		text-decoration: none;
}


/*HEADER MIDDLE SECTION STYLE*/
/*****************************************************************  */
.header-logo{
	display: block;
	max-width: 100px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}



/*HEADER RIGHT SECTION STYLE  */
/*******************************************************************  */
.header-right{
		width: 100%;
    height: 86px;
    margin: 0 0 36px 0;
		padding-top: 5px;
		text-align: right;
}

.header-btn-donate{
		display: inline-block;
		/* float: right; */
		background-color:  #FF9000;
		border: 2px solid #FF9000;
		color: #fff;
		padding: 4px 30px;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		/* margin-left: 20px; */
}

.header-btn-fb{
		display: inline-block;
		vertical-align: bottom;
		text-decoration: none;
}

#glyph {
    display: block;
    color: #2d3469;  /*FB color*/
		margin: 0px 10px;
}

a.header-btn-donate:hover{
	background-color: #fff;
	border: 2px solid #fff;
	color: #FF9000;
	text-decoration: none;
}

i#glyph:hover{
	color: #3B5998;
	text-decoration: none;
}

a.header-btn-fb:hover{
	text-decoration: none;
}




/*HEADER HOURS of OPERATION */
/*******************************************************************  */
.header-hours{
	display:inline-block;
	float: right;
	padding-top: 3px;
	padding-right: 10px;
}
.header-table{
	font-size: 12px;
}

th.header-non-bold{
	font-weight:normal;
}

td.left-align-hours{
	/* text-align: left; */
}



/* NAV */
/* ------------------------------------------- */
/* ------------------------------------------- */

/*.container li {
    margin: 0 20px 0 0;
}

.container li:last-child {
    margin: 0;
}*/

.nav-center {
	text-align: center;
}

.navbar-collapse.collapse.show li{
    margin-bottom: 5px;
}

.navbar-toggler-icon {
    font-size: 30px;
    color: #2632A1;
}

.nav1 {
    background: #e35e01;
    margin: 0 20px 0 0;
}
.nav1 a {
	color: #fff;
}
.nav1 a:hover {
    background: #c75403;
    color: #fff;
}
.nav1 ul {
    background: #e35e01;
    border: none;
    margin: 0;
    border-radius: 0;
}
.nav1 li {
	margin: 0;
}
.nav1 a:after {
	display: none;
}

.nav2 {
	color: #fff;
    background: #feac00;
    margin: 0 20px 0 0;
}
.nav2 a {
	color: #fff;
}
.nav2 a:hover {
    background: #e79a00;
    color: #fff;
}
.nav2 ul {
    background: #feac00;
    border: none;
    margin: 0;
    border-radius: 0;
}
.nav2 li {
	margin: 0;
}
.nav2 a:after {
	display: none;
}

.nav3 {
	color: #fff;
    background: #8FBB26;
    margin: 0 20px 0 0;
}
.nav3 a {
	color: #fff;
}
.nav3 a:hover {
    background: #6f9811;
    color: #fff;
}
.nav3 ul {
    background: #8FBB26;
    border: none;
    margin: 0;
    border-radius: 0;
}
.nav3 li {
	margin: 0;
}
.nav3 a:after {
	display: none;
}

.nav4 {
	color: #fff;
    background: #ff9000;
    margin: 0 20px 0 0;
}
.nav4 a {
	color: #fff;
}
.nav4 a:hover {
    background: #e48102;
    color: #fff;
}
.nav4 ul {
    background: #ff9000;
    border: none;
    margin: 0;
    border-radius: 0;
}
.nav4 li {
	margin: 0;
}
.nav4 a:after {
	display: none;
}

.nav5 {
	color: #fff;
    background: #434DAB;
    margin: 0 20px 0 0;
}
.nav5 a {
	color: #fff;
}
/*#nav5 {
    background: #434DAB;
}*/

.nav5 a:hover {
    background: #2632A1;
    color: #fff;
}
/*#nav5 a:hover {
    background: #2632A1;
    color: #fff;
}*/


/* BODY STYLES */
/* ------------------------------------------- */
/* ------------------------------------------- */

.who-we-are h1,
.who-we-are h2,
.who-we-are h3,
.who-we-are h4,
.who-we-are h5,
.who-we-are h6 {
    color: #e35e01;
}

.what-we-do h1,
.what-we-do h2,
.what-we-do h3,
.what-we-do h4,
.what-we-do h5,
.what-we-do h6 {
    color: #feac00;
}

.get-help h1,
.get-help h2,
.get-help h3,
.get-help h4,
.get-help h5,
.get-help h6 {
    color: #8FBB26;
}

.get-involved h1,
.get-involved h2,
.get-involved h3,
.get-involved h4,
.get-involved h5,
.get-involved h6 {
    color: #ff9000;
}


/********************************************************************** */
/********OWL CAROUSEL - IMAGE SLIDER STYLES******************************** */
/********************************************************************** */
#carousel{
  float:left;
  display:block;
  width:100%;
  position:relative;
}

.slider-wrapper{
  display:block;
  margin: 0 auto;
  width:100%;
  max-width: 1600px; /*image width*/
  /* max-width:800px; */
}

.cap-container{
  position: relative;
}

.slider-holder{
  float: left;
  width: 100%;
  display: block;
  position: relative;
}

.item{
  float:left;
  display:block;
  width:100%;
  height:400px;  /*height of images to be same */
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.cap-text-container{
  position: absolute;
  bottom: 20px;
  text-align: center;
  background-color: #fff;
  color: #fff;
  opacity: 0.7;
}

.cap-text{
  display: block;
  width: 100%;
  position: absolute;
  bottom: 5%; /*caption position*/
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

h2.cap-title{
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  width: 100%;
  text-shadow: 2px 2px #424146;
}

p.cap-desc{
  color: #fff;
  text-align: center;
  font-size:20px;
  font-weight: bold;
  width: 100%;
  padding: 0px 10px;
  text-shadow: 2px 2px #424146;
}


/************************************************************************/
/*FOR HEADERL MEDIA QUERIES  */
/************************************************************************/
/******AND**********************************************************/
/************************************************************************/
/*FOR OWL CAROUSEL MEDIA QUERIES for SLIDER   */
/************************************************************************/
@media screen and (max-width: 1200px){
	/*HEADER */
	.company-name {
			font-size: 0.85em;
	}
}

@media screen and (max-width: 991px){
  /*HEADER */
  .company-name {
      font-size: 0.7em;
  }
	.header-list-contact{
		font-size: 11px;
	}

  /*OWL */
  .item{
      height: 350px;
    }

}@media screen and (max-width: 768px){
  /*HEADER  */
	.company-header{
	  display: none;
  }
	.header-right{
		display: none;
	}

  /*OWL */
  .item{
      height: 300px;
  }

}@media screen and (max-width: 600px){

  /*QWL  */
  .item{
    height: 250px;
  }

}@media screen and (max-width: 481px){

  /*OWL  */
  .item{
    height: 200px;
  }
    .cap-text{
      display: none;
    }
}


/* EVENTS */
/* ------------------------------------------- */
/* ------------------------------------------- */

.events {
    display: inline-block;
    float: left;
    margin: 10px 0 0 0;
    padding-top: 90px;
    width: 100%;
    height: 200px;
    text-align: center;
    border: 1px black solid;
}

.calendar {
    display: block;
    float: left;
    margin: 10px 0;
    padding-top: 120px;
    width: 50%;
    height: 250px;
    text-align: center;
    border: 1px black solid;
}

.facebook{
    display: block;
    float: right;
    margin: 10px 0;
    padding-top: 120px;
    width: 50%;
    height: 250px;
    text-align: center;
    border: 1px black solid;
}



/* FOOTER */
/* ------------------------------------------- */
/* ------------------------------------------- */

footer{
  display:block;
  float: left;
  width: 100%;
  margin: 50px 0 0 0;
  font-size: 10px;
}

#container {
    min-height: 100%;
    position: relative;
}

#footerwrap {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
}

.sitemap {
    float: left;
    display: block;
    margin: 0;
    padding: 15px 0 15px 0;
    width: 45%;
    border: 1px #000 solid;
    text-align: center;
}

.footerlogo {
    float: left;
    display: block;
}

.hours {
    float: right;
    display: block;
    width: 20%;
    text-align: right;
    border: 1px #000 solid;
}

.hours span{
    font-weight: bold;
}
